[Unit]
Description=My Python Script
After=multi-user.target

[Service]
Type=simple
ExecStart=/usr/bin/python3 /home/inepoh/Documents/lights_in_arch/main.py
Restart=always

[Install]
WantedBy=multi-user.target
